<div class="card-container">
  <picture>
    <source media="(max-width: 600px)" srcset="/src/assets/images/image-card-four/image-card-four.png" >
     <source media="(min-width: 1200px)" srcset="/src/assets/images/image-card-four/image-card-four-1200w.png" >
     <img class="card-image" src="/src/assets/images/image-card-four/image-card-four-600w.png" alt="Retrato de Shelia Zulau, una de los ponentes del evento">
  </picture>
  <div class="card-content">
    <h5 class="card-title">Shelia Zulau</h5>
    <p class="card-description">Esta conferencia explorará cómo proteger infraestructuras críticas, desde plantas de energía hasta redes de telecomunicaciones, en un mundo más interconectado a través de dispositivos IoT.</p>
  </div>
</div>
