<div class="card-container">
  <picture>
    <source media="(max-width: 600px)" srcset="/src/assets/images/image-card-six/image-card-six.png" >
     <source media="(min-width: 1200px)" srcset="/src/assets/images/image-card-six/image-card-six-1200w.png" >
     <img class="card-image" src="/src/assets/images/image-card-six/image-card-six-600w.png" alt="Retrato de Ryan Wolf, uno de los ponentes del evento">
  </picture>
  <div class="card-content">
    <h5 class="card-title">Ryan Wolf</h5>
    <p class="card-description">Se discutirá cómo las amenazas cibernéticas están evolucionando y qué nuevas tácticas utilizan los atacantes para vulnerar los sistemas de seguridad.</p>
  </div>
</div>
