<div class="card-container">
  <picture>
    <source media="(max-width: 600px)" srcset="/src/assets/images/image-card-two/image-card-two.png" >
     <source media="(min-width: 1200px)" srcset="/src/assets/images/image-card-two/image-card-two-1200w.png" >
     <img class="card-image" src="/src/assets/images/image-card-two/image-card-two-600w.png" alt="Retrato de Alfonso Ziemann, una de los ponentes del evento">
  </picture>
  <div class="card-content">
    <h5 class="card-title">Alfonso Ziemann</h5>
    <p class="card-description">En esta sesión se compartirán las estrategias más efectivas para detectar y prevenir ataques de phishing, que han evolucionado con el tiempo para ser cada vez más sofisticados.</p>
  </div>
</div>
