<div class="card-container">
  <picture>
    <source media="(max-width: 600px)" srcset="/src/assets/images/image-card-three/image-card-three.png" >
     <source media="(min-width: 1200px)" srcset="/src/assets/images/image-card-three/image-card-three-1200w.png" >
     <img class="card-image" src="/src/assets/images/image-card-three/image-card-three-600w.png" alt="Retrato de Theodore Beer, uno de los ponentes del evento">
  </picture>
  <div class="card-content">
    <h5 class="card-title">Theodore Beer</h5>
    <p class="card-description">La charla abordará la importancia de implementar autenticación multifactor como una capa adicional de seguridad, reduciendo significativamente el riesgo de acceso no autorizado.</p>
  </div>
</div>
