<footer class="footer flex flex-col items-center justify-center py-[60px] px-[50px] bg-footer xl:flex-row xl:justify-between ">
  <a href="/"><img class="w-[250px] h-auto mt-[20px] hover:cursor-pointer xl:mt-0" src="/src/assets/images/imagotipo.png" alt="Imagotipo del evento CiverSguridad summit"></a>
  <div class="flex flex-col items-center xl:items-end">
      <nav>
          <ul class="p-0 mt-[70px] xl:flex gap-[40px] items-end justify-end m-0 xl:mt-[20px]">
              <li class="mb-[20px] text-center list-none xl:mb-0"><a class="font-secondary text-[16px] font-light text-text cursor-pointer capitalize no-underline hover:text-primary" href="./index.html">Poster</a></li>
              <li class="mb-[20px] text-center list-none xl:mb-0"><a class="font-secondary text-[16px] font-light text-text cursor-pointer capitalize no-underline hover:text-primary" href="/src/speakers.html">Listado ponentes</a></li>
              <li class="mb-[20px] text-center list-none xl:mb-0"><a class="font-secondary text-[16px] font-light text-text cursor-pointer capitalize no-underline hover:text-primary" href="/src/ai-web.html" target="_blank">AI Generated Web</a></li>
          </ul>
      </nav>
      <p class="mt-[50px] font-secondary text-[16px] font-light text-primary text-center md:w-[70%] xl:my-[10px] xl:mx-[0] xl:text-right  ">2025 © Diseño realizado por Omar Hevia Arbana para la asignatura HTML y CSS Herramientas II. Todos los derechos reservados</p>
  </div>
</footer>
